*{ outline: none; list-style: none;}
body{margin: 0; padding: 0; font-family: "Sofia Pro", Arial, Helvetica, sans-serif; color: #595A5C; font-size: 15px; font-weight: 300; letter-spacing: 0.9px;}
a{text-decoration: none !important;}
a:focus, button:focus, select:focus, input:focus, textarea:focus{outline: 0 !important; border-color: transparent !important; box-shadow: none !important;}
input[type=text], input[type=password], input[type=search]{color: #595A5C !important; background: #FFFFFF !important; height: 40px !important; padding: 7px !important; border-radius: 0 !important; border-color: transparent !important; box-shadow: none !important;}
input::-webkit-input-placeholder{color: #ADADAD !important;}
input:-ms-input-placeholder{color: #ADADAD !important;}
input::-ms-input-placeholder{color: #ADADAD !important;}
input::placeholder{color: #ADADAD !important;}
textarea{color: #595A5C !important; background: #FFFFFF !important; padding: 7px !important; border-radius: 0 !important; border-color: transparent !important; box-shadow: none !important;}
select{color: #595A5C; height: 40px !important; padding: 7px !important; border-radius: 0 !important; border-color: transparent !important; box-shadow: none !important; -webkit-appearance: none; -moz-appearance: none;}

.main-content{position: relative; float: left; width: 100%; display: block; overflow: hidden;}
.main-content .left-content{position: relative; float: left; width: 15%; overflow: hidden; background: #fff;}
.main-content .right-content{position: relative; float: left; width: 85%; overflow: hidden;}
.left-content .main-logo{width: 100%; float: left; text-align: center; margin-top: 5px;}
.left-content .main-logo img {width: 70px; border-bottom: 2px solid #EFEFEF}
.left-content .customer-logo{width: 100%; float: left; text-align: center; margin-top: 20px;}
.left-content .customer-logo img {width: 170px;}
.left-content .menu{width: 100%; float: left; margin-top: 15px;}
.left-content .menu ul{margin: 0; padding: 0;}
.left-content .menu ul li{list-style-type: none; width: 100%;}
.left-content .menu ul li a{width: 100%; float: left; font-size: 16px; color: #595A5C; background: #F9F9F9; padding: 15px; font-weight: 400; letter-spacing: normal;}
.left-content .menu ul li a.active{background: #EFEFEF;}
.left-content .menu ul li a i{color: #000;}
.right-content .head{width: 100%; float: left; position: relative; background: #fff;}
.right-content .head .head-area{float: right;}
.right-content .head .head-area i{font-size: 22px; position: relative; top: 3px;}
.right-content .head .head-area .btn-admin{position: relative; float: left; color: #595A5C; font-size: 15px; background: #F9F9F9; padding: 13px 20px;}
.right-content .head .head-area .btn-logout{position: relative; float: left; color: #595A5C; font-size: 15px; background: #EFEFEF; padding: 13px 20px;}
.right-content .content-title{width: 100%; float: left; position: relative; background: #F9F9F9; color: #595A5C; font-size: 20px; padding: 13px 20px;}
.right-content .content{width: 100%; float: left; position: relative; background: #EFEFEF; padding: 25px 23px; height: calc(100vh - (107px)); overflow-y: scroll; overflow-x: hidden;}
.right-content .content .new-add{position: absolute; top: 77px;}
.right-content .content .new-add a{background: #595A5C; color: #fff; padding: 10px;}
.right-content .content .languages{position: absolute; top: 70px; margin-left: 120px;}
.right-content .content .languages select{height: 38px !important; font-weight: 300; background: #fff; width: 80px; background-image: url('/assets/frontend/img/down-arrow.svg'); background-size: 10px; background-position: calc(100% - 5px) center; background-repeat: no-repeat;}
.right-content .content .dataTables_length{margin-top: -3px;}
.right-content .content .dataTables_length select{width: 60px !important; font-weight: 300; font-size: 14px;}
.right-content .content .dataTables_length label{font-size: 14px; font-weight: 300;}
.right-content .content .dataTables_filter{margin-top: -3px;}
.right-content .content .dataTables_filter label{font-size: 14px; font-weight: 300;}
.right-content .content .dataTables_info{font-size: 14px; font-weight: 300;}
.right-content .content .dropdown-item.active{background: #000;}
.right-content .content .dt-buttons{float: right; margin-top: -1px;}
.right-content .content .dt-buttons button{background: #fff; color: #595A5C; border-color: #595A5C; border-radius: 0; font-weight: 300;}
.right-content .content .page-item .page-link{color: #595A5C; background-color: #fff; border-color: #fff; border: 1px solid #fff;}
.right-content .content .page-item.active .page-link{color: #fff; background-color: #595A5C; border-color: #595A5C;}
.right-content .content .dataTables_wrapper .dataTables_processing{position: absolute; top: 0%;  left: 0;  width: 100%;  margin-left: 0px; margin-top: 6px; text-align: center; padding: 1em 0; height: 100%; background: #ffffffd1; border-radius: 0; border: 1px solid #fff; color: #595A5C; font-weight: 400}
.right-content .content .dataTable .dataTables_empty{padding: 10px !important;}
.right-content .content .table-content{width: 100%; float: left; position: relative; margin-top: 0px; margin-bottom: 5px;}
.right-content .content .table-content table thead tr th{background: #595A5C; color: #fff; padding: 10px; border-right: 1px solid #fff; font-weight: 300;}
.right-content .content .table-content table thead tr th:last-child{border-right: 0;}
.right-content .content .table-content table tfoot tr th{background: #595A5C; color: #fff; padding: 10px; border-right: 1px solid #fff; font-weight: 300;}
.right-content .content .table-content table tfoot tr th:last-child{border-right: 0;}
.right-content .content .table-content table tbody tr{background: #fff;}
.right-content .content .table-content table tbody tr td{color: #595A5C; padding: 10px; border-right: 1px solid #EFEFEF; border-bottom: 1px solid #EFEFEF;}
.right-content .content .table-content table tbody tr td:last-child{border-right: 0; padding: 0;}
.right-content .content .table-content table tbody tr td:first-child{padding: 10px;}
.right-content .content .table-content table tbody tr:hover{background: #F9F9F9;}
.right-content .content .table-content .btn-green{float: left; position: relative; background: #5CB85C; color: #fff; padding: 10px 11px 10px 10.5px;}
.right-content .content .table-content .btn-yellow{float: left; position: relative; background: #EFAD4E; color: #fff; padding: 10px 11px;}
.right-content .content .table-content .btn-red{float: left; position: relative; background: #D9534F; color: #fff; padding: 10px 11px;}
.right-content .content .table-content .btn-blue{float: left; position: relative; background: #227dce; color: #fff; padding: 10px 11px 10px 10.5px; width: 147.69px;}
.right-content .content .table-content .btn-blue span{position: absolute; right: 5px; background: #267dce;}
.popup-content .nav-tabs .nav-link{color: #595A5C; font-weight: 400;}
.popup-content .nav-tabs .nav-link.active{color: #000; border-color: #dee2e6 #dee2e6 #fff !important;}
.popup-content .error-message{font-size: 16px; font-weight: 400; color: #D9534F; margin-bottom: 5px;}
.popup-content .modal-title{font-weight: 400;}
.popup-content .panel-body{width: 100%; margin-top: 10px;}
.popup-content .panel-body input{background: #EFEFEF !important;}
.popup-content .panel-body textarea{background: #EFEFEF !important;}
.popup-content .panel-body select{background: #EFEFEF !important;}
.popup-content .form-group{width: 100%; float: left; margin-bottom: 10px;}
.popup-content .form-group .control-label{width: 100%; float: left; margin-bottom: 3px;}
.popup-content .form-group .input-area{width: 100%; float: left;}
.popup-content .form-group .input-area input{font-size: 14px; background: #EFEFEF !important;}
.popup-content .form-group .input-area textarea{font-size: 14px;}
.popup-content .form-group .input-area select{font-size: 14px; background-image: url('/assets/frontend/img/down-arrow.svg') !important; background-size: 10px !important; background-position: calc(100% - 5px) center !important; background-repeat: no-repeat !important;}
.popup-content .form-group .disabled-input{background-color: #80808045 !important; cursor: not-allowed;}
.popup-content .form-group .active-input{border-color: #212529 !important}
.popup-content .form-group .help-block{font-size: 13px; color: #D9534F; position: relative; top: -4px;}
.popup-content .form-group .ss-main .ss-multi-selected{background: #EFEFEF; padding: 3px; border-radius: 0; border-color: transparent ; box-shadow: none;}
.popup-content .form-group .ss-main .ss-multi-selected .ss-values .ss-disabled{color: #ADADAD; font-size: 14px; font-weight: 400; letter-spacing: normal; padding: 7px;}
.popup-content .form-group .ss-main .ss-multi-selected .ss-add{margin: 8px 12px 0 13px;}
.popup-content .form-group .ss-main .ss-multi-selected .ss-add .ss-plus{height: 14px;}
.popup-content .form-group .ss-main .ss-multi-selected .ss-add .ss-plus:after{width: 14px; left: -6px; top: 6px;}
.popup-content .form-group .ss-main .ss-content .ss-search{font-size: 14px;}
.popup-content .form-group .ss-main .ss-content .ss-search .ss-addable{height: 40px; padding: 0px 10px 2px 12px;}
.popup-content .form-group .ss-main .ss-content .ss-list .ss-option{font-size: 14px;}
.popup-content .form-group .ss-main .ss-multi-selected .ss-values .ss-value{font-size: 14px;}
.popup-content .form-group .ss-main .ss-single-selected{background: #EFEFEF; padding: 6px; height: 40px; border-radius: 0; border-color: transparent ; box-shadow: none;}
.popup-content .form-group .ss-main .ss-single-selected .ss-values .ss-disabled{color: #ADADAD; font-size: 14px; font-weight: 400; letter-spacing: normal; padding: 7px;}
.popup-content .form-group .ss-main .ss-single-selected .ss-values .ss-value{font-size: 14px;}
.popup-content .form-group .radio-select{height: 240px; float: left; width: 100%; background: #EFEFEF; overflow-y: scroll; padding-left: 0; margin-bottom: 0}
.popup-content .form-group .tree-radio ul{padding-left: 23px;}
.popup-content .form-group .tree-radio ul:first-child{padding-left: 10px;}
.popup-content .form-group .tree-radio label{margin-bottom: 4px; font-weight: 400;}
.popup-content .form-group .tree-radio label span{margin-left: 2px;}
.popup-content .form-group .tree-radio input{height: auto !important;}
.popup-content .second-currency{display: none;}
.popup-content .mt-28{margin-top: 28px;}
.popup-content .second-title{width: 100%; float: left; margin: 10px 0 10px 0; border-bottom: 1px solid #cccccc;}
.popup-content .view-list .card-header{padding: 0;}
.popup-content .view-list select{background: #EFEFEF !important;}
.popup-content .view-list .card-header h5 button{width: 100%; padding: 17px; text-align: left; color: #595A5C; text-decoration: none;}
.popup-content .option-list td{padding: 5px 10px;}
.help-feedback{width: 100%; margin-top: .25rem; font-size: 12px; color: #dc3545;}
.gallery-area{position: relative; width: 100%; float: left; margin-top: 5px;}
.gallery-area .img-area{border: 1px solid #efefef; padding: 5px; float: left;  margin-top: 10px; margin-bottom: 5px;}
.gallery-area .img-close{position: absolute; color: #b30c0c; font-size: 20px; left: 20px; top: 7px; font-weight: 500; font-family: unset; cursor: pointer; z-index: 10;}
.gallery-area .img-class{margin-bottom: 3px; height: 80px; overflow: scroll; float: left; width: 100%; position: relative;}
.gallery-area .image-text{width: 73.5%; float: left; margin-right: 4px;}
.gallery-area .image-sort{width: 24%; float: left;}


